.container {
  width: 18%;
  height: 40%;
  position: relative;
}

.button {
  color: #ffb114;
  background-color: #333333;
  border-radius: 5px;
  border: 0mm solid #333333;
  padding: 20%;
}

#add {
  left: 80%;
}

/* #modify{

} */
