.container{
    background-color: #FFB114;
    margin: auto;
    width: 80vw;
    height: 55%;
    margin-top: 10vh;
    padding-inline: 10%;
    padding-block: 6%;
    display: flex;
    justify-content: center;
}

.container2{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.text{
    margin: 0;
    font-size: medium;
    font-weight: bolder
}

.container3{
    display:flex;
    flex-direction: row;
}
