.container{
height:100%;
    width:40%;
display:flex;
    flex-direction: column;

}

.title{

font-family: "Poppins", sans-serif;
    background-color: #FFB114;
    border:0;
    border-bottom: 1.5px solid whitesmoke;
}
.status{
    font-family: "Poppins", sans-serif;
   background-color: #FFB114;
    border:0;
    border-bottom: 1.5px solid whitesmoke;
}
